<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title ng-bind="title">Boulevard Charts</title>
    <style>
      <%= styles() %>
    </style>
  </head>
  <body style="height: 100%; width: 100%">
    <svg id="container" style="height: 100%; width: 100%;"></svg>
    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>

    <script>
      <%= scripts() %>
      require('initialize');
    </script>
  </body>
</html>
